.footer__column-link {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.footer__column-link:hover {
  opacity: .3;
  transition: opasity 1s linear 2s;
}
