.footer__column-link {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  opacity: 1;
}
.footer__column-link:hover {
  opacity: .3;
  transition: opacity 1s linear;
}
