@import url(../../for_reuse/section-title/section-title.css);
@import url(../../for_reuse/section-subtitle/section-subtitle.css);
@import url(../../for_reuse/table/table.css);
.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
