@import url(./__link/feynman__link.css);
@import url(./__photo/feynman__photo.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__title/feynman__title.css);
.feynman {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 80px;
}
