@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);
.video {
  margin: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 440px;
}
